
#bg {
    position: fixed;
    inset: 0;
    z-index: -10;
    pointer-events: none;
    background-color: var(--bg-main);
}

/* Top Bar styling */

#top-bar{
    position: fixed;
    top: 0;
    left: 0;
    gap: 2px;
    width: 100%;

    background-color: var(--bg-main);

    display: flex;
    flex-direction: row;
    z-index: 999;
}

#top-bar-icon{
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50px;
    box-shadow: 0 1px 10px 0 rgba(249, 248, 248, 0.464);

    background-image: url(../images/profile-photo.png);
    background-size: cover;
    background-position: center;
}
#top-bar-welcome {
    font-size: 16px;
    color: var(--text-accent);
    margin-top: 16px;
}
#top-bar-username {
    font-size: 20px;
    font-weight: bold;
    color: var(--text-main);
}

#top-bar-start-btn {
    margin-left: calc(100vw - 335px);
    margin-top: 14px;

    width: 70px;
    height: 40px;
    border-radius: 50px;
    border: none;

    background: var(--green-accent);
    box-shadow: 0 4px 15px 0 rgba(31, 135, 36, 0.3);
    color: white;

    font-size: 16px;
    font-weight: bold;
}

#top-bar-mode-btn {
    margin-left: auto;
    margin-top: 14px;
    margin-right: 20px;

    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: none;

    background: var(--bg-panel);
    box-shadow: 0 4px 15px 0 var(--shadow);
    color: var(--btn-icon);

    font-size: 24px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-fade {
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    height: 10px;

    pointer-events: none;
    z-index: 999;

    background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0),
    var(--bg-main)
    );
}

/*///////////////////////////////
// Bottom Bar Styling
///////////////////////////////*/

.pill-nav {
    position: fixed;
    bottom: 30px;
    left: 80px;
    right: 80px;
    min-width: 155px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 6px;
    border-radius: 50px;
    z-index: 1000;

    background: var(--bg-panel);
    box-shadow: 0 4px 25px 0 var(--shadow);
}

.nav-btn {
    width: 50px;
    height: 50px;
    border-radius: 50px;

    font-size: 24px;
    color: var(--btn-icon);

    background: none;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-btn.active {
    color: var(--green-accent);
}