/*///////////////////////////////
// Profile Page Styling
///////////////////////////////*/

#profile-page {
    margin-top: 75px;
    margin-bottom: 100px;
}

#profile-panel {
    width: 310px;
    height: 430px;
    border-radius: 30px;
    background-color: var(--bg-panel);
    box-shadow: 0 4px 25px 0 var(--shadow);

    position: fixed;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#profile-photo {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 2px solid rgb(249, 248, 248);
    z-index: 1;

    background-image: url(../images/profile-photo.png);
    background-size: cover;
    background-position: center;

    position: fixed;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#profile-content {
    width: 280px;
    height: 90px;
    border-radius: 20px;
    background-color: var(--internal-container);
    box-shadow: 0 0px 4px 0 var(--shadow);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;

    color: var(--text-main);
    font-weight: 250;
    font-size: 20px;

    position: fixed;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile-content-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-content-figure {
    color: var(--text-accent);
    font-weight: 400;
}

.profile-content-header {
    color: var(--text-main);
    font-weight: 500;
}

#profile-name {
    width: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;

    color: var(--text-main);
    font-size: 30px;
    font-weight: 550;

    position: fixed;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#profile-info {
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;

    color: var(--text-accent);
    font-size: 19px;

    position: fixed;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#social-buttons {
    gap: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;

    color: var(--text-accent);

    position: fixed;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);}

#social-buttons i {
    font-size: 26px;
    color: var(--btn-icon);
}