
/*///////////////////////////////
//
///////////////////////////////*/
body {
    font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", Roboto, 
    "Helvetica Neue", Arial, sans-serif;
}

#bg {
    position: fixed;
    inset: 0;
    z-index: -10;
    pointer-events: none;
    background-color: rgb(249, 248, 248);
}

/*///////////////////////////////
// Top Bar Styles
///////////////////////////////*/

#top-bar{
    position: fixed;
    top: 0;
    left: 0;
    gap: 2px;
    width: 100%;

    display: flex;
    flex-direction: row;
    z-index: 1000;
}

#top-bar-icon{
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50px;

    background-image: url("profile-photo.png");
    background-size: cover;
    background-position: center;
}
#top-bar-welcome {
    font-size: 16px;
    color: rgb(120, 120, 120);
    margin-top: 16px;
}
#top-bar-username {
    font-size: 20px;
    font-weight: bold;
    color: rgb(50, 50, 50);
}

#top-bar-home-btn {
    margin-left: auto;
    margin-top: 14px;
    margin-right: 20px;

    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: none;

    background: rgba(243, 241, 241, 0.6);
    box-shadow: 0 4px 15px 0 rgba(31, 38, 135, 0.3);
    color: rgb(173, 173, 173);

    font-size: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/*///////////////////////////////
// Bottom Navigation Bar Styles
///////////////////////////////*/

#main-content {
    margin-top: 70px;
}

#car-photo {
    position: relative;
    inset: 0;
    z-index: -10;

    width: min(80vw, 900px);
    aspect-ratio: 154 / 102;

    background-image: url(car-photo.png);
    background-size: cover;
    background-position: center;

    margin: 40px auto 0;
}

/*///////////////////////////////
// Bottom Navigation Bar Styles
///////////////////////////////*/

.pill-nav {
    position: fixed;
    bottom: 30px;
    left: 80px;
    right: 80px;

    display: flex;
    gap: 13px;
    padding: 6px;
    border-radius: 50px;
    z-index: 1000;

    background: rgba(249, 246, 246, 0.4);
    box-shadow: 0 4px 25px 0 rgba(31, 38, 135, 0.422);
}

.nav-btn {
    width: 50px;
    height: 50px;
    border-radius: 50px;

    font-size: 24px;
    color: rgb(173, 173, 173);

    background: none;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-btn:hover {
    background: rgba(243, 241, 241, 0.6);
    box-shadow: 0 4px 15px 0 rgba(31, 38, 135, 0.3);
    color: rgb(100, 100, 100);
}
