
/*///////////////////////////////
//
///////////////////////////////*/
body {
    font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", Roboto, 
    "Helvetica Neue", Arial, sans-serif;
}

#bg {
    position: fixed;
    inset: 0;
    z-index: -10;
    pointer-events: none;
    background-color: rgb(249, 248, 248);
}

/*///////////////////////////////
// Top Bar Styles
///////////////////////////////*/

#top-bar{
    position: fixed;
    top: 0;
    left: 0;
    gap: 2px;
    width: 100%;

    background-color: rgb(249, 248, 248);

    display: flex;
    flex-direction: row;
    z-index: 999;
}

#top-bar-icon{
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50px;

    background-image: url("profile-photo.png");
    background-size: cover;
    background-position: center;
}
#top-bar-welcome {
    font-size: 16px;
    color: rgb(120, 120, 120);
    margin-top: 16px;
}
#top-bar-username {
    font-size: 20px;
    font-weight: bold;
    color: rgb(50, 50, 50);
}

#top-bar-start-btn {
    margin-left: calc(100vw - 335px);
    margin-top: 14px;

    width: 70px;
    height: 40px;
    border-radius: 50px;
    border: none;

    background: rgba(39, 179, 34, 0.8);
    box-shadow: 0 4px 15px 0 rgba(31, 135, 36, 0.3);
    color: white;

    font-size: 16px;
    font-weight: bold;
}

#top-bar-home-btn {
    margin-left: auto;
    margin-top: 14px;
    margin-right: 20px;

    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: none;

    background: rgba(243, 241, 241, 0.6);
    box-shadow: 0 4px 15px 0 rgba(31, 38, 135, 0.3);
    color: rgb(173, 173, 173);

    font-size: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-fade {
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    height: 10px;

    pointer-events: none;
    z-index: 999;

    background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0),
    rgba(249, 248, 248, 1)
    );
}

/*///////////////////////////////
// Bottom Navigation Bar Styles
///////////////////////////////*/

#main-content {
    margin-top: 70px;
    margin-bottom: 100px;
}

#car-photo {
    position: relative;
    inset: 0;
    z-index: -10;

    width: min(80vw, 900px);
    aspect-ratio: 154 / 102;

    background-image: url(car-photo.png);
    background-size: cover;
    background-position: center;

    margin: 40px auto 0;
}

.main-content-panel {
    width: min(80vw, 900px);

    background: rgba(249, 246, 246, 0.4);
    box-shadow: 0 4px 15px 0 rgba(31, 38, 135, 0.3);
    border-radius: 20px;

    margin: 30px auto 0;
}

.panel-header {
    padding: 10px;
}

/*///////////////////////////////
// Bottom Navigation Bar Styles
///////////////////////////////*/

.pill-nav {
    position: fixed;
    bottom: 30px;
    left: 80px;
    right: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 6px;
    border-radius: 50px;
    z-index: 1000;

    background: rgba(249, 246, 246, 0.4); /* maybe adjust after content is in panels */
    box-shadow: 0 4px 25px 0 rgba(31, 38, 135, 0.422);
}

.nav-btn {
    width: 50px;
    height: 50px;
    border-radius: 50px;

    font-size: 24px;
    color: rgb(173, 173, 173);

    background: none;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-btn:hover {
    background: rgba(243, 241, 241, 0.6);
    box-shadow: 0 4px 15px 0 rgba(31, 38, 135, 0.3);
    color: rgb(100, 100, 100);
}
