
/*///////////////////////////////
//
///////////////////////////////*/

:root {
    --bg-main: rgb(249, 248, 248);
    --bg-panel: rgba(249, 246, 246, 1);
    --shadow: rgba(31, 38, 135, 0.3);
    --btn-icon: rgb(173, 173, 173);
    --text-main: rgb(66, 66, 66);
    --text-accent: rgb(120, 120, 120);
    --green-accent: rgba(39, 179, 34, 1);
    --profile-bubble: rgb(234, 234, 234);
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", Roboto, 
    "Helvetica Neue", Arial, sans-serif;
}

body.dark {
    --bg-main: rgb(33, 33, 33);
    --bg-panel: rgb(27, 27, 27);
    --shadow: rgba(236, 236, 236, 0.3);
    --btn-icon: rgb(173, 173, 173);
    --text-main: rgb(214, 214, 214);
    --text-accent: rgb(120, 120, 120);
    --green-accent: rgba(39, 179, 34, 1);
    --profile-bubble: rgb(66, 66, 66);
}

/*///////////////////////////////
// Driving Page View
///////////////////////////////*/

#driving-mode {
    position: fixed;
    inset: 0;
    z-index: 9999;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#driving-mode.hidden {
    display: none;
}

#stop-btn {
    font-size: 24px;
    padding: 20px 40px;
    border-radius: 50px;
    background: #3232326f;
    color: rgb(89, 89, 89);
    border: 2px solid rgb(89, 89, 89);
}

/*///////////////////////////////
// Background and Top bar Styling
///////////////////////////////*/

#bg {
    position: fixed;
    inset: 0;
    z-index: -10;
    pointer-events: none;
    background-color: var(--bg-main);
}

/* Top Bar styling */

#top-bar{
    position: fixed;
    top: 0;
    left: 0;
    gap: 2px;
    width: 100%;

    background-color: var(--bg-main);

    display: flex;
    flex-direction: row;
    z-index: 999;
}

#top-bar-icon{
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50px;
    box-shadow: 0 1px 10px 0 rgba(249, 248, 248, 0.464);

    background-image: url("profile-photo.png");
    background-size: cover;
    background-position: center;
}
#top-bar-welcome {
    font-size: 16px;
    color: var(--text-accent);
    margin-top: 16px;
}
#top-bar-username {
    font-size: 20px;
    font-weight: bold;
    color: var(--text-main);
}

#top-bar-start-btn {
    margin-left: calc(100vw - 335px);
    margin-top: 14px;

    width: 70px;
    height: 40px;
    border-radius: 50px;
    border: none;

    background: var(--green-accent);
    box-shadow: 0 4px 15px 0 rgba(31, 135, 36, 0.3);
    color: white;

    font-size: 16px;
    font-weight: bold;
}

#top-bar-mode-btn {
    margin-left: auto;
    margin-top: 14px;
    margin-right: 20px;

    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: none;

    background: var(--bg-panel);
    box-shadow: 0 4px 15px 0 var(--shadow);
    color: var(--btn-icon);

    font-size: 24px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-fade {
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    height: 10px;

    pointer-events: none;
    z-index: 999;

    background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0),
    var(--bg-main)
    );
}

/*///////////////////////////////
// Home Page Styling
///////////////////////////////*/

#home-page {
    margin-top: 70px;
    margin-bottom: 100px;
}

#car-photo {
    position: relative;
    inset: 0;

    width: min(80vw, 900px);
    aspect-ratio: 154 / 102;

    background-image: url(car-photo.png);
    background-size: cover;
    background-position: center;

    margin: 40px auto 0;
}

.main-content-panel {
    width: min(80vw, 900px);
    padding: 5px 5px 5px;

    background: var(--bg-panel);
    box-shadow: 0 4px 15px 0 var(--shadow);
    border-radius: 20px;

    font-weight: bold;
    color: var(--text-main);
    margin: 30px auto 0;
}

.panel-header {
    padding: 10px;
}

/*///////////////////////////////
// Recent Trips Page Styling
///////////////////////////////*/

#recent-trips-page {
    margin-top: 75px;
    margin-bottom: 100px;
}

/*///////////////////////////////
// Statistics page Styling
///////////////////////////////*/

#statistics-page {
    margin-top: 75px;
    margin-bottom: 100px;
}

/*///////////////////////////////
// Profile Page Styling
///////////////////////////////*/

#profile-page {
    margin-top: 75px;
    margin-bottom: 100px;
}

#profile-panel {
    width: 310px;
    height: 430px;
    border-radius: 30px;
    background-color: var(--bg-panel);
    box-shadow: 0 4px 25px 0 var(--shadow);

    position: fixed;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#profile-photo {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 2px solid rgb(249, 248, 248);
    z-index: 1;

    background-image: url(profile-photo.png);
    background-size: cover;
    background-position: center;

    position: fixed;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#profile-content {
    width: 280px;
    height: 90px;
    border-radius: 20px;
    background-color: var(--profile-bubble);
    box-shadow: 0 0px 4px 0 var(--shadow);

    position: fixed;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#profile-name {
    width: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;

    color: var(--text-main);
    font-size: 30px;
    font-weight: 550;

    position: fixed;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#profile-info {
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;

    color: var(--text-accent);
    font-size: 19px;

    position: fixed;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#social-buttons {
    gap: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;

    color: var(--text-accent);

    position: fixed;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);}

#social-buttons i {
    font-size: 26px;
    color: var(--btn-icon);
}

/*///////////////////////////////
// Hidden Attributes Tags
///////////////////////////////*/

.page {
    display: none;
}

.page.active {
    display: block;
}

.hidden {
    display: none;
}


/*///////////////////////////////
// Bottom Bar Styling
///////////////////////////////*/

.pill-nav {
    position: fixed;
    bottom: 30px;
    left: 80px;
    right: 80px;
    min-width: 155px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 6px;
    border-radius: 50px;
    z-index: 1000;

    background: var(--bg-panel);
    box-shadow: 0 4px 25px 0 var(--shadow);
}

.nav-btn {
    width: 50px;
    height: 50px;
    border-radius: 50px;

    font-size: 24px;
    color: var(--btn-icon);

    background: none;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-btn.active {
    color: var(--green-accent);
}
